@import "bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "assets/Service.css";
@import "assets/Footer.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  overflow-x: hidden;
  font-family: "Montserrat" !important;
}

.cus_Margin_Padding {
  margin-top: 50px;
  padding: 40px 10px;
}
@media (max-width: 992px) {
  .cus_Margin_Padding {
    padding: 40px 0px;
  }
}

.txtDecoration_None {
  text-decoration: none;
}

.Gb-btn {
  background-color: #043f47;
  width: 170px;
  padding: 12px 0px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.Navbar .logo {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Pacifico";
  color: black;
}
.Navbar .links {
  width: 100%;
  justify-content: center;
}
.Navbar .links a {
  color: rgb(31, 31, 31);
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 35px;
}
.Navbar .links .active {
  background-color: #043f47;
  color: white !important;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .Navbar .navbar-collapse {
    position: relative;
    padding: 20px 0;
    text-align: center;
    z-index: 4;
    background-color: rgba(4, 63, 71, 0.7803921569);
    margin-top: 10px;
    border-radius: 5px;
  }
  .Navbar .navbar-collapse .link {
    color: white;
    margin-right: 0;
  }
  .Navbar .Gb-btn {
    margin: auto;
  }
  .Navbar .logo {
    font-size: 1.7rem;
  }
  .Navbar .img-fluid {
    max-width: 29%;
  }
}

.Header {
  position: relative;
}
.Header .container {
  max-width: 1600px;
}
.Header .row {
  margin-top: 100px;
}
.Header .InfoCard {
  padding: 20px;
}
.Header .main-head {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  color: #043f47;
}
.Header .main-head .wo1 {
  font-weight: 500;
  color: black;
}
.Header .main-head .wo2 {
  display: block;
  font-size: 11rem;
  letter-spacing: 19px;
  font-weight: 700;
  margin-top: -29px;
}
.Header .line {
  width: 50%;
  position: relative;
  height: 9px;
  left: 50%;
  border-radius: 8px;
  transform: translateX(-50%);
  background-color: #008fa3;
}
.Header .info {
  font-size: 1.2rem;
  margin-top: 69px;
  font-weight: 600;
  color: #646464;
}
.Header .ImgCard {
  position: relative;
}
.Header .ImgCard .img-container {
  position: absolute;
  border: 18px solid white;
  width: 112%;
}
.Header .ImgCard .img-container::before, .Header .ImgCard .img-container::after {
  position: absolute;
  content: "";
  background-color: #043f47;
  width: 76%;
  height: 76%;
  -webkit-clip-path: polygon(10% 24%, 99% 0, 100% 100%, 0% 100%);
          clip-path: polygon(10% 24%, 99% 0, 100% 100%, 0% 100%);
}
.Header .ImgCard .img-container::before {
  left: 0;
  top: -22px;
}
.Header .ImgCard .img-container::after {
  right: -70px;
  bottom: -76px;
  z-index: -1;
}
.Header .ImgCard .img-fluid {
  -webkit-clip-path: polygon(10% 24%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(10% 24%, 100% 0, 100% 100%, 0% 100%);
}
@media (max-width: 1500px) {
  .Header .main-head {
    font-size: 3.7rem;
  }
  .Header .main-head .wo2 {
    font-size: 9rem;
    letter-spacing: 14px;
  }
  .Header .ImgCard .img-container {
    width: 93%;
  }
}
@media (max-width: 1200px) {
  .Header .main-head {
    font-size: 3rem;
  }
  .Header .main-head .wo2 {
    font-size: 7rem;
    letter-spacing: 6px;
    margin-top: -11px;
  }
}
@media (max-width: 992px) {
  .Header .ImgCard {
    margin-top: 35px;
  }
  .Header .ImgCard .img-container {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .Header .InfoCard {
    padding: 10px;
  }
  .Header .row {
    margin-top: 65px;
  }
  .Header .info {
    font-size: 1rem;
    margin-top: 45px;
  }
  .Header .main-head {
    font-size: 2.7rem;
  }
  .Header .main-head .wo2 {
    font-size: 6rem;
    margin-top: -11px;
    letter-spacing: 4px;
  }
  .Header .ImgCard .img-container {
    border-width: 11px;
  }
  .Header .ImgCard .img-container::before {
    left: -5px;
    top: -30px;
  }
}

.AboutUs {
  background-color: #043f47;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  margin-top: 50px;
}
.AboutUs .infoCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
}
.AboutUs .infoCard .num {
  background-color: white;
  color: #043f47;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  margin: auto;
}
.AboutUs .infoCard .name {
  font-size: 17px;
  font-weight: 500;
  margin-top: 11px;
}
.AboutUs .infoCard .triple-x {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  font-size: 50px;
  font-family: cursive;
}
.AboutUs .infoCard .triple-x span {
  margin-right: 17px;
}
.AboutUs .infoCard .main-head {
  font-size: 43px;
  font-weight: 700;
  margin-top: 15px;
}
.AboutUs .infoCard .main-head span {
  color: aqua;
  font-size: 56px;
}
.AboutUs .infoCard .sub-head {
  background-color: white;
  color: #043f47;
  font-family: "Pacifico";
  font-size: 25px;
  padding: 12px;
  width: 74%;
  margin: 30px auto;
}
.AboutUs .infoCard .info {
  width: 80%;
  margin: auto;
}
.AboutUs .infoCard .Gb-btn {
  background-color: white;
  color: #043f47;
  margin: 30px auto 0px auto;
}
.AboutUs .img-fluid {
  height: 100%;
}
@media (max-width: 1400px) {
  .AboutUs .infoCard .main-head {
    font-size: 32px;
  }
  .AboutUs .infoCard .sub-head {
    width: 78%;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .AboutUs {
    margin-top: 120px;
  }
}
@media (max-width: 767px) {
  .AboutUs .infoCard .num {
    height: 70px;
    width: 70px;
    font-size: 21px;
  }
  .AboutUs .infoCard .name {
    font-size: 15px;
  }
  .AboutUs .infoCard .main-head span {
    font-size: 47px;
  }
  .AboutUs .infoCard .sub-head {
    width: 100%;
    font-size: 19px;
  }
  .AboutUs .infoCard .triple-x {
    margin-top: 20px;
    font-size: 49px;
  }
  .AboutUs .infoCard .info {
    width: 100%;
  }
}

.Order .top-head {
  height: 400px;
  background: url("/order.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.Order .top-head .overlay {
  background-color: rgba(3, 51, 57, 0.662745098);
}
.Order .top-head .title {
  font-size: 60px;
  font-weight: 600;
}
.Order .sale-head {
  font-size: 1.5rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.Order .sale-head::before {
  position: absolute;
  content: "";
  width: 43%;
  height: 2px;
  background-color: #00a3b9;
  bottom: -2px;
  left: 0;
}
.Order .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0px;
  position: relative;
}
.Order .RentBar {
  background-color: #043f47;
  color: white;
}
.Order .form {
  display: flex;
  width: 40%;
}
.Order .formInput {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.Order .searchBtn {
  background-color: #ff5fa3;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  border-top-right-radius: 8px;
  color: white;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1400px) {
  .Order .top-head .title {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .Order .top-head {
    text-align: center;
    height: 320px;
  }
  .Order .top-head .title {
    font-size: 34px;
  }
  .Order .top-head .fs-5 {
    font-size: 1rem !important;
  }
}

.Details-container {
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  color: black;
}
.Details-container .verified {
  display: inline-block;
  font-size: 17px;
  color: #0db8b8;
  margin: -4px -4px 0 0;
}
.Details-container .img-container {
  height: 312px;
}
.Details-container .img-container .img-fluid {
  width: 100%;
  height: 100%;
}
.Details-container .house-details {
  padding: 20px 0;
}
.Details-container .price {
  font-size: 25px;
  font-weight: 500;
}
.Details-container .price span {
  font-size: 14px;
}
.Details-container .house-area {
  position: relative;
  font-weight: 500;
}
.Details-container .house-area span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.Details-container .house-area span::after {
  position: absolute;
  content: "";
  right: -25px;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: #9e9e9e;
}
.Details-container .title {
  font-size: 18px;
  height: 55px;
}
.Details-container .contacts .icon {
  margin-right: 25px;
  color: #043f47;
  align-items: center;
  display: flex;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .Details-container {
    width: 50% !important;
  }
}
@media (max-width: 992px) {
  .Details-container {
    width: 60% !important;
  }
}
@media (max-width: 767px) {
  .Details-container {
    width: 100% !important;
  }
}

.Search .head {
  background-color: #043f47;
  color: white;
  padding: 15px;
  font-size: 1.7rem;
  text-align: center;
}
.Search .backBtn {
  background-color: #043f47;
  color: white;
  font-size: 18px;
  padding: 8px 13px;
  border-radius: 8px;
}
.Search .sale-head {
  font-size: 1.4rem;
}
.Search .animation {
  max-width: 20%;
  margin: auto;
}
.Search .error-head {
  color: red;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 992px) {
  .Search .animation {
    max-width: 60%;
  }
}
@media (max-width: 767px) {
  .Search .sale-head {
    font-size: 1.1rem;
  }
  .Search .backBtn {
    margin-top: 1rem;
  }
  .Search .animation {
    max-width: 100%;
  }
}/*# sourceMappingURL=globals.css.map */